<main
  style="
    font-family: 'Barlow', monospace, sans-serif;
    line-height: 1.75;
    width: 100%;
    height: 100%;
    position: relative;
  "
>
  <section
    style="
      max-width: 500px;
      padding: 20px;
      background-color: rgb(252, 252, 252);
      border-radius: 5px;
      width: 80%;
      margin: auto;
    "
  >
    <%- include("includes/header", {URL, name}); %>
    <div class="">
      <p style="margin: 10px 0">
        Oops! It seems like you've forgotten your Cart Royal password. No
        worries – we've got you covered.
      </p>
      <p style="margin: 10px 0">
        <span style="color: red">Link Expire in 1 hour</span>
        <br />
        Click the link below to reset your password:
        <a href=<%=LINK%> >Password Reset Link</a>
      </p>
    </div>
    
    <%- include("includes/banner", {URL}); %>
    <p style="padding: 20px 0">
      If you did not sign up for an account, please ignore this email.
    </p>
    <%-include("includes/footer", {URL}); %>
  </section>
</main>
