<section>
  <div class="padding:20px 0">
    <img src=<%= URL + "/assets/banner.png" %> style="display: block;
    pointer-events: none; padding: 10px 0" width="100%" alt="" />
  </div>
  <div class="">
    <img src=<%= URL + "/assets/line.png" %> width="100%" alt="" />
  </div>
</section>
