<section class="email-footer-section">
  <h3 style="font-weight: 200">
    Happy shopping!
    <br />
    <span style="font-size: 16px">Cart Royal Team</span>
  </h3>
  <div
    style="display: flex;justify-content: center;margin: 20px 0;padding: 0 0 20px 0; align-items: center;gap: 25px;"
  >
    <a href="mailto:cartroyalhq@gmail.com" target="_blank">
      <img width="20" src=<%= URL + "/assets/mail.png" %> alt="Mail" />
    </a>
    <a href="https://instagram.com/cartroyalng" target="_blank">
      <img width="20" src=<%= URL + "/assets/ig.png" %> alt="Instagram" />
    </a>
    <a href="https://x.com/cartroyalng" target="_blank"> <img width="20" src=<%= URL + "/assets/twitter.png"%> /> </a>
  </div>
</section>
