<section>
  <center style="padding-top: 10px">
    <img
      style="margin-bottom: 1px; padding: 10px 0"
      src=<%= URL + "/assets/logo.png" %>
      width="200"
      alt="logo"
    />
    <img src=<%= URL + "/assets/line.png" %> width="100%" alt="" />
  </center>

  <div style="padding: 10px 0">
    <h3>
      Hey <%= name %>,<br />
      Greetings from Cart Royal! 🎉
    </h3>
  </div>
</section>
